---
import Remixicon from "../Remixicon.astro";

interface Props {
    next: (string | number | undefined)[];
    prev: (string | number | undefined)[];
}

const { next, prev } = Astro.props;
const prevRiClass = "ri-arrow-left-line";
const nextRiClass = "ri-arrow-right-line";
const prevPage = prev === undefined ? undefined : prev[1];
const nextPage = next === undefined ? undefined : next[1];

const hintText = "Tip: use the arrow keys to go through the images.";
---

<style>
    span.photo-navigation {
        display: inline-flex;
        gap: 1em;
        padding-right: 1em;
    }
    span.disabled {
        opacity: 50%;
        cursor: not-allowed;
    }
</style>

<span class="photo-navigation">
    {
        prevPage != undefined ? (
            <a
                href={`${prevPage}`}
                id="previous"
                title={`Go to previous image\n${hintText}`}
            >
                <Remixicon iconReference={prevRiClass} />
            </a>
        ) : (
            <span class="disabled">
                <Remixicon iconReference={prevRiClass} />
            </span>
        )
    }
    {
        nextPage !== undefined ? (
            <a
                href={`${nextPage}`}
                id="next"
                title={`Go to next image\n${hintText}`}
            >
                <Remixicon iconReference={nextRiClass} />
            </a>
        ) : (
            <span class="disabled">
                <Remixicon iconReference={nextRiClass} />
            </span>
        )
    }
</span>

<script>
    document.addEventListener("keydown", (event) => {
        const key = event.key;
        switch (key) {
            case "ArrowLeft":
                document.getElementById("previous")?.click();
                break;
            case "ArrowRight":
                document.getElementById("next")?.click();
                break;
            default:
                break;
        }
    });
</script>
