---
interface Props {
    frontmatter: Record<string, any>;
}

const { frontmatter } = Astro.props;
---

<style>
    h3 {
        font-weight: 450;
    }
    span.year {
        font-weight: 400;
        opacity: 75%;
        padding-right: 0.5em;
    }
    summary::before {
        content: none;
    }
    details[open] summary {
        padding-bottom: 0em;
    }
    h4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    div.album-info {
        padding-bottom: 0.5em;
    }
</style>

<div class="playlist-li">
    <details>
        <summary>
        <h3>
            <span class="year">{frontmatter.year}</span>
            {frontmatter.artist} – {frontmatter.album}
        </h3>
        </summary>
        <div class="album-info">
        <h4>Links</h4>
        <ul>
            {
                frontmatter.links.map((l: any) => (
                    <li>
                        <a href={l}>{l.split("/")[2]}</a>
                    </li>
                ))
            }
        </ul>
        <h4>Favourites:</h4>
        <ul>
            {frontmatter.favourites.map((f: any) => <li>{f}</li>)}
        </ul>
        </div>
    </details>
</div>
