---
interface Props {
    frontmatter: Record<string, any>;
}

const { frontmatter } = Astro.props;
---

<style>
    li.playlist-li {
        list-style-type: none;
    }
    li li {
        list-style-type: square;
    }
    span.playlist-li-title {
        font-size: larger;
        font-weight: 450;
        line-height: 2.25em;
    }
    span.year {
        font-weight: 400;
        opacity: 75%;
        padding-right: 0.5em;
    }
    summary::before {
        content: none;
    }
    details[open] summary {
        padding-bottom: 0em;
    }
    h4 {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    div.album-info {
        padding-bottom: 0.5em;
    }
</style>

<li class="playlist-li">
    <details>
        <summary>
            <span class="playlist-li-title">
                <span class="year">{frontmatter.year}</span>
                {frontmatter.artist} – {frontmatter.album}
            </span>
        </summary>
        <div class="album-info">
            <h4>Links</h4>
            <ul>
                {
                    frontmatter.links.map((l: any) => (
                        <li>
                            <a href={l}>{l.split("/")[2]}</a>
                        </li>
                    ))
                }
            </ul>
            <h4>Favourites:</h4>
            <ul>
                {frontmatter.favourites.map((f: any) => <li>{f}</li>)}
            </ul>
        </div>
    </details>
</li>
